table, th, td {
	margin:auto;
	text-align: center;
}
table {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-collapse: collapse;
	width:70%;
}
th {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: #dffbb6;
	height: 30px;
}
td {
	padding: 10px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}
#b {
	margin-left: 1350px;		
}
#c {
	margin-left: 1570px;
}
.links {
	font-size: 20px;
	color: #F0F0F0;
	text-align: center;
	display: inline-block;
	margin-left:480px;
}
.bg {
	background-image: url('../image/green.jpeg');
	width:70%;
	height:500px;
	margin:auto;		
}
