table, th, td{
	margin:auto;
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 5px;
}
table {
	width:70%;
}
th {
	width: 100px;
}
td, .find-btn, .center {
	text-align: center;
}
.a {
	background-color:#C7F48F;
}
.btn {
    background-color:#C7F48F;
	display :inline-block;
}
#aaa {
    width: 800px;
}
#select, #phone {
    width: 100px;
    text-align: center;
}
#postcode {
    width: 650px;
} 
#ccc {
    width: 350px;
}